<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Listing</title>
</head>

<body>
    <h3>Edit Your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PATCH" method="post">
        <label for="title">
            title : <input type="text" name="listing[title]" placeholder="Enter your title"
                value="<%= listing.title %>">
        </label> <br>
        <label for="description">
            description : <textarea type="text" name="listing[description]"
                placeholder="Enter your description" rows="9" cols="30"> <%= listing.description %> </textarea>
        </label> <br>
        <label for="filename">
            filename : <input type="text" name="listing[image][filename]" placeholder="Enter your filename"
                value="<%= listing.image.filename %>">
        </label> <br>
        <label for="url">
            url : <input type="text" name="listing[image][url]" placeholder="Enter your url"
                value="<%= listing.image.url %>" >
        </label> <br>
        <label for="price">
            price : <input type="number" name="listing[price]" placeholder="Enter your price"
                value="<%= listing.price %>">
        </label> <br>
        <label for="location">
            location : <input type="text" name="listing[location]" placeholder="Enter your location"
                value="<%= listing.location %>">
        </label> <br>
        <label for="country">
            country : <input type="text" name="listing[country]" placeholder="Enter your country"
                value="<%= listing.country %>">
        </label> <br>
        <button>update listing</button>
    </form>
</body>

</html>